<a href="https://colab.research.google.com/github/Ayuzap/ai-ml-journey/blob/main/day1_kaggle_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Step-1: Hello, Python

In [1]:
print("Hello World! Ayush here!!, Today, we are going to start a real thing!!")

Hello World! Ayush here!!, Today, we are going to start a real thing!!

First most basic code that I could write!

In [2]:
name = "Ayush"

In python -> No need to declare a variable :O

In [3]:
spam_amount = 0
print(spam_amount)

# Ordering Spam, egg, Spam, Spam, bacon and Spam (4 more servings of Spam)
spam_amount = spam_amount + 4

if spam_amount > 0:
    print("But I don't want ANY spam!")

viking_song = "Spam " * spam_amount
print(viking_song)

type(spam_amount)

0
But I don't want ANY spam!
Spam Spam Spam Spam

int

there are no curly brackets {} for if or any other loop, it's just the indentation.

so far: two built in functions:
  `print()` and `type()`
  
  {`type()` is
   very useful to be able to ask Python "what kind of thing is this?".}

In [4]:
#Some basic arithmetic operators:
print (7/4) #this is normal division, it always returns float
print (7//4) #this is floor division, it divides, then remove the fractional part
print(2**3) #this is exponential operator

1.75
1
8

The // operator gives us a result that's rounded down to the next integer.

ORDER OF OPERATIONS:

Operators follow `BODMAS` order ( or you could say PEMDAS)

where:

`B` is for `Brackets` ( )

`O` is for `Order` (raised to the power)

`D` is for `Division`

`M` is for `Multiplication`

`A` is for `Addition`

`S` is for `Subtraction`

In [5]:
#For Example:
print(-3 + 4 * 2)
#first, (-3 + (4*2))
#       (-3 + (8))
#       (-3 + 8)
#       5

5

It's wise to use Parentheses :)

In [6]:
#wrong code:
hat_height_cm = 25
my_height_cm = 190
# How tall am I, in meters, when wearing my hat?
total_height_meters = hat_height_cm + my_height_cm / 100
print("Height in meters =", total_height_meters, "?")

Height in meters = 26.9 ?

In [7]:
#correct code:
total_height_meters = (hat_height_cm + my_height_cm) / 100
print("Height in meters =", total_height_meters)

Height in meters = 2.15

some useful built-in functions for working with numbers:

min, max - already know that
abs - gives the absolute value of a number

In [8]:
print(abs(32))
print(abs(-32))
print(abs(-18.9))

32
32
18.9

In [9]:
# A new method to swap two variables
a = [1, 2, 3]
b = [3, 2, 1]

a,b = b,a

print(a)
print(b)

[3, 2, 1]
[1, 2, 3]

So far, I've done the first step of kaggle's python course (6 more to go)

I've completed the exercises and theory of the step 1

#Step-2: Functions and Getting Help

the `help()` function is very helpful

It displays two things:

1) The header of that function.

2) A brief English description of what the function does.

`NOTE`: While passing a function as an argument for the `help()` function, don't call that function, just give name of that function (that means don't give arguments to that function)

In [10]:
#Example of using help():
help(print)

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

Defining a function:

`def` keyword is used

Below is an example:

In [11]:
def max_difference(a,b,c):

  diff1 = abs(a-b)
  diff2 = abs(b-c)
  diff3 = abs(c-a)

  return max(diff1,diff2,diff3)


print(max_difference(1,2,10),max_difference(10,-10,0),sep = '\n')

help(max_difference)

9
20
Help on function max_difference in module __main__:

max_difference(a, b, c)

If we use `help(max_difference)`, python won't give the description of this one, so we can give it on our own
the description we give it is called `docstring` and starts and ends with triple `"`

In [12]:
def max_difference(a,b,c):
    """

    Returns the largest difference between any two numbers
    among a, b and c.

    >>> max_difference(1, 5, -5)
    10
    """

    diff1 = abs(a-b)
    diff2 = abs(b-c)
    diff3 = abs(c-a)

    return max(diff1,diff2,diff3)


help(max_difference)

Help on function max_difference in module __main__:

max_difference(a, b, c)
    Returns the largest difference between any two numbers
    among a, b and c.

    >>> max_difference(1, 5, -5)
    10

FUNCTIONS APPLIED TO FUNCTIONS:

In [13]:
def mult_by_five(x):
    return 5 * x

def call(fn, arg):
    """Call fn on arg"""
    return fn(arg)

def squared_call(fn, arg):
    """Call fn on the result of calling fn on arg"""
    return fn(fn(arg))

print(
    call(mult_by_five, 1),
    squared_call(mult_by_five, 1),
    sep='\n'
)

5
25

An interesting example:

In [14]:
def mod_5(x):
    """Return the remainder of x after dividing by 5"""
    return x % 5

print(
    'Which number is biggest?',
    max(100, 51, 14),
    'Which number is the biggest modulo 5?',
    max(100, 51, 14, key=mod_5),#*
    sep='\n',
)

#*-> this line will do this:
#it will choose the one from 100,51 and 14, which makes mod_5 value maximum

Which number is biggest?
100
Which number is the biggest modulo 5?
14

Stuff I learned from the kaggle practice session:

In [15]:
help(round)

Help on built-in function round in module builtins:

round(number, ndigits=None)
    Round a number to a given precision in decimal digits.

    The return value is an integer if ndigits is omitted or None.  Otherwise
    the return value has the same type as the number.  ndigits may be negative.

the help(round) tells us that the ndigits can be negative too

so what exactly happens if we take a negative number? Let's see:

In [16]:
print(round(39.141,-1))
print(round(3111.434334,-3))

40.0
3000.0

ndigits=-1 rounds to the nearest 10, ndigits=-2 rounds to the nearest 100 and so on.

It's useful when dealing with large numbers. For example:

The area of Finland is 338,424 km²
The area of Greenland is 2,166,086 km²

We probably don't care whether it's really 338,424, or 338,425, or 338,177. All those digits of accuracy are just distracting. We can chop them off by calling round() with ndigits=-3:

The area of Finland is 338,000 km²
The area of Greenland is 2,166,000 km²

Defining a function and giving one of the arguments a default value:

In [17]:
def to_smash(total_candies,friends = 3):
    """Return the number of leftover candies that must be smashed after distributing
    the given number of candies evenly between given number of friends(Default value of number of friends = 3).

    >>> to_smash(91,3)
    1
    >>> to_smash(103,4)
    3
    """

    return total_candies % friends

to_smash(103,4)

3